videos/fs_song.ogv filter=lfs diff=lfs merge=lfs -text
videos/fs_song_rythmic.mp3 filter=lfs diff=lfs merge=lfs -text
videos/whatis_gnu-linux.mp4 filter=lfs diff=lfs merge=lfs -text
videos/whatis_gnu-linux.ogv filter=lfs diff=lfs merge=lfs -text
videos/fs_and_4freedoms.mp4 filter=lfs diff=lfs merge=lfs -text
videos/fs_in_schools.mp4 filter=lfs diff=lfs merge=lfs -text
videos/fs_song_metal.mp3 filter=lfs diff=lfs merge=lfs -text
videos/fs_song_rock.mp3 filter=lfs diff=lfs merge=lfs -text
videos/fs_and_4freedoms.ogv filter=lfs diff=lfs merge=lfs -text
videos/fs_in_schools.ogv filter=lfs diff=lfs merge=lfs -text
videos/fs_song.mp4 filter=lfs diff=lfs merge=lfs -text
audios/fs_song_metal.ogg filter=lfs diff=lfs merge=lfs -text
audios/fs_song_rock.ogg filter=lfs diff=lfs merge=lfs -text
audios/fs_song_rythmic.ogg filter=lfs diff=lfs merge=lfs -text
